# IMDB CAPSTONE PROJECT

# Phase 2

In [1]:
import pandas as pd

df = pd.read_csv('D:\Datatrained\Dataset 1.csv')

In [2]:
df1 = pd.read_csv('D:\Datatrained\Dataset 2.csv')

In [3]:
df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152 min,2008,9.0,84.0
1,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0,94.0
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9,86.0
3,Inception,Christopher Nolan,148 min,2010,8.8,74.0
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8,92.0

In [4]:
df1.head()

,Movie Name,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,2750867,$534.86M,PG-13,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1902861,$377.85M,PG-13,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,195285,NaN,PG,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Animation,Action,Adventure
3,Inception,2441653,$292.58M,PG-13,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1931145,$315.54M,PG-13,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

# Table 1

1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [5]:
directors_df = df[df['Director Name'].isin(['Christopher Nolan', 'Matt Reeves'])]

print(directors_df)

                         Movie Name      Director Name Duration  Year  Rating  \
0                   The Dark Knight  Christopher Nolan  152 min  2008     9.0
3                         Inception  Christopher Nolan  148 min  2010     8.8
18            The Dark Knight Rises  Christopher Nolan  164 min  2012     8.4
38                    Batman Begins  Christopher Nolan  140 min  2005     8.2
130                         Dunkirk  Christopher Nolan  106 min  2017     7.8
131                      The Batman        Matt Reeves  176 min  2022     7.8
227  Dawn of the Planet of the Apes        Matt Reeves  130 min  2014     7.6
312  War for the Planet of the Apes        Matt Reeves  140 min  2017     7.4
324                           Tenet  Christopher Nolan  150 min  2020     7.3
516                     Cloverfield        Matt Reeves   85 min  2008     7.0

     Metascore
0         84.0
3         74.0
18        78.0
38        70.0
130       94.0
131       72.0
227       79.0
312       82.0
324       69.0
516       64.0

In [6]:
directors_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152 min,2008,9.0,84.0
3,Inception,Christopher Nolan,148 min,2010,8.8,74.0
18,The Dark Knight Rises,Christopher Nolan,164 min,2012,8.4,78.0
38,Batman Begins,Christopher Nolan,140 min,2005,8.2,70.0
130,Dunkirk,Christopher Nolan,106 min,2017,7.8,94.0

2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [7]:
# Extract the numerical values from the 'Duration' column and convert it to integer
df['Duration'] = df['Duration'].str.extract(r'(\d+)').astype(int)

# Filter the DataFrame to include only rows where the Duration is between 140 and 190 minutes
duration_df = df[(df['Duration'] >= 140) & (df['Duration'] <= 190)]

print(duration_df)

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
5                 The Lord of the Rings: The Two Towers       Peter Jackson
...                                                 ...                 ...
1758                                              Liger      Puri Jagannadh
1759                                             Gunday     Ali Abbas Zafar
1762                                        Heropanti 2          Ahmed Khan
1763                                             Laxmii    Raghava Lawrence
1768                                             Race 3        Remo D'Souza

      Duration  Year  Rating  Metascore
0          152  2008     9.0       84.0
2          140  2023     8.9       86.0
3          148  2010     8.8       74.0
4          178  2001     8.8       92.0
5          179  2002     8.8       87.0
...        ...   ...     ...        ...
1758       140  2022     2.7        NaN
1759       152  2014     2.7        NaN
1762       145  2022     2.5        NaN
1763       141  2020     2.5        NaN
1768       160  2018     1.9        NaN

[209 rows x 6 columns]

In [8]:
duration_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152,2008,9.0,84.0
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140,2023,8.9,86.0
3,Inception,Christopher Nolan,148,2010,8.8,74.0
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178,2001,8.8,92.0
5,The Lord of the Rings: The Two Towers,Peter Jackson,179,2002,8.8,87.0

3) Display all details of movies with ratings above 7 in ascending order.

In [9]:
# Filter the DataFrame to include only rows where the rating is above 7
high_rated_movies_df = df[df['Rating'] > 7]

# Sort the DataFrame by the "Rating" column in ascending order
high_rated_movies_df = high_rated_movies_df.sort_values(by='Rating', ascending=True)

print(high_rated_movies_df)

                                            Movie Name       Director Name  \
494                                         Marighella        Wagner Moura
460                                         Real Steel          Shawn Levy
459                                           I, Robot         Alex Proyas
458                                  Deepwater Horizon          Peter Berg
457                                           Creed II    Steven Caple Jr.
..                                                 ...                 ...
4    The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
3                                            Inception   Christopher Nolan
2                  Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
1        The Lord of the Rings: The Return of the King       Peter Jackson
0                                      The Dark Knight   Christopher Nolan

     Duration  Year  Rating  Metascore
494       155  2019     7.1        NaN
460       127  2011     7.1       56.0
459       115  2004     7.1       59.0
458       107  2016     7.1       68.0
457       130  2018     7.1       66.0
..        ...   ...     ...        ...
4         178  2001     8.8       92.0
3         148  2010     8.8       74.0
2         140  2023     8.9       86.0
1         201  2003     9.0       94.0
0         152  2008     9.0       84.0

[495 rows x 6 columns]

In [10]:
high_rated_movies_df.head()

            Movie Name     Director Name  Duration  Year  Rating  Metascore
494         Marighella      Wagner Moura       155  2019     7.1        NaN
460         Real Steel        Shawn Levy       127  2011     7.1       56.0
459           I, Robot       Alex Proyas       115  2004     7.1       59.0
458  Deepwater Horizon        Peter Berg       107  2016     7.1       68.0
457           Creed II  Steven Caple Jr.       130  2018     7.1       66.0

4) Display all movie names in descending order.

In [11]:
# Sort the DataFrame by the "Movie Name" column in descending order
sorted_df = df.sort_values(by='Movie Name', ascending=False)

print(sorted_df['Movie Name'])

1584                      Æon Flux
1719       xXx: State of the Union
1633    xXx: Return of Xander Cage
1394                           xXx
1699                   Zoolander 2
                   ...
865                      12 Strong
1518                     12 Rounds
1654                     10,000 BC
426                            '71
1044                        #Alive
Name: Movie Name, Length: 1772, dtype: object

In [12]:
sorted_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
1584,Æon Flux,Karyn Kusama,93,2005,5.4,36.0
1719,xXx: State of the Union,Lee Tamahori,101,2005,4.5,37.0
1633,xXx: Return of Xander Cage,D.J. Caruso,107,2017,5.2,42.0
1394,xXx,Rob Cohen,124,2002,5.8,48.0
1699,Zoolander 2,Ben Stiller,101,2016,4.7,34.0

5) Display movie name starts with ‘P’ and their rating is greater than 7.

In [13]:
#Filter the DataFrame to include only rows where the movie name starts with 'P' and the rating is greater than 7
filtered_df = df[(df['Movie Name'].str.startswith('P')) & (df['Rating'] > 7)]

print(filtered_df[['Movie Name', 'Rating']])

                                            Movie Name  Rating
28                                   Princess Mononoke     8.3
55                                    Paan Singh Tomar     8.2
57   Pirates of the Caribbean: The Curse of the Bla...     8.1
141                                           Predator     7.8
237                            Ponniyin Selvan: Part I     7.6
240                          Pushpa: The Rise - Part 1     7.6
275                                       Police Story     7.5
303         Pirates of the Caribbean: Dead Man's Chest     7.4
305                                     Predestination     7.4
361                                       Patriots Day     7.3
384                                        Point Break     7.2
439                                               Prey     7.1
446           Pirates of the Caribbean: At World's End     7.1
474                                            Payback     7.1

In [14]:
filtered_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
28,Princess Mononoke,Hayao Miyazaki,134,1997,8.3,76.0
55,Paan Singh Tomar,Tigmanshu Dhulia,135,2012,8.2,NaN
57,Pirates of the Caribbean: The Curse of the Bla...,Gore Verbinski,143,2003,8.1,63.0
141,Predator,John McTiernan,107,1987,7.8,47.0
237,Ponniyin Selvan: Part I,Mani Ratnam,167,2022,7.6,NaN

# Table 2

1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [16]:
# Filter the DataFrame to include only rows where the star1, star2, star3, or star4 is 'Arnold Schwarzenegger'
filtered_df = df1[(df1['Star1'] == 'Arnold Schwarzenegger') |
                  (df1['Star2'] == 'Arnold Schwarzenegger') |
                  (df1['Star3'] == 'Arnold Schwarzenegger') |
                  (df1['Star4'] == 'Arnold Schwarzenegger')]

# Create a Series with all movie names that have Arnold Schwarzenegger
all_movie_names = pd.concat([filtered_df['Movie Name'],
                             filtered_df['Movie Name'],
                             filtered_df['Movie Name'],
                             filtered_df['Movie Name']])

# Sort the movie names in ascending order
sorted_movie_names = all_movie_names.sort_values()

# Remove duplicates (since the same movie may have Arnold Schwarzenegger in multiple star positions)
unique_sorted_movie_names = sorted_movie_names.drop_duplicates()

print(unique_sorted_movie_names)

1742                        Batman & Robin
1558                     Collateral Damage
695                               Commando
574                    Conan the Barbarian
1336                   Conan the Destroyer
1404                           End of Days
1116                                Eraser
686                            Escape Plan
1095                      Kindergarten Cop
873                       Last Action Hero
141                               Predator
1505                              Raw Deal
1223                              Red Heat
1653                             Red Sonja
1459                              Sabotage
9               Terminator 2: Judgment Day
1016    Terminator 3: Rise of the Machines
1017                    Terminator Genisys
1083                 Terminator: Dark Fate
1338                           The 6th Day
1032                        The Last Stand
704                        The Running Man
60                          The Terminator
259                           Total Recall
333                              True Lies
Name: Movie Name, dtype: object

In [17]:
unique_sorted_movie_names.head()

1742         Batman & Robin
1558      Collateral Damage
695                Commando
574     Conan the Barbarian
1336    Conan the Destroyer
Name: Movie Name, dtype: object

2) Display all details of the movie with the highest number of votes.

In [19]:
# Find the index of the movie with the highest number of votes
highest_votes_index = df1['Votes'].idxmax()

# Get all details of the movie with the highest number of votes
movie_with_highest_votes = df1.loc[highest_votes_index]

print(movie_with_highest_votes)

Movie Name          The Dark Knight
Votes                       2750867
Gross Collection           $534.86M
Certification                 PG-13
Star1                Christian Bale
Star2                  Heath Ledger
Star3                 Aaron Eckhart
Star4                 Michael Caine
Genre1                       Action
Genre2                        Crime
Genre3                        Drama
Name: 0, dtype: object

3) Display movie names with gross collections in descending order.

In [20]:
# Sort the DataFrame by Gross Collection in descending order
sorted_df = df1.sort_values(by='Gross Collection', ascending=False)

# Select and display only the Movie Name and Gross Collection columns
movie_names_with_gross = sorted_df[['Movie Name', 'Gross Collection']]

print(movie_names_with_gross)

                 Movie Name Gross Collection
881      Olympus Has Fallen          $98.93M
1409       The Green Hornet          $98.78M
1729       Inspector Gadget          $97.40M
528          Public Enemies          $97.10M
647         The Book of Eli          $94.84M
...                     ...              ...
1765          The Prototype              NaN
1767                  Radhe              NaN
1769      Angels Apocalypse              NaN
1770  The Cost of Deception              NaN
1771                Sadak 2              NaN

[1772 rows x 2 columns]

4) Display the gross collection of movies with the star Arnold.

In [21]:
# Filter the DataFrame to include only rows where Star1 is 'Arnold Schwarzenegger' or Star2 is 'Arnold Schwarzenegger'
arnold_movies_df = df1[(df1['Star1'] == 'Arnold Schwarzenegger') | (df1['Star2'] == 'Arnold Schwarzenegger')]

# Select and display the Movie Name and Gross Collection columns
arnold_movies_gross = arnold_movies_df[['Movie Name', 'Gross Collection']]

print(arnold_movies_gross)

                              Movie Name Gross Collection
9             Terminator 2: Judgment Day         $204.84M
60                        The Terminator          $38.40M
141                             Predator          $59.74M
259                         Total Recall         $119.39M
333                            True Lies         $146.28M
574                  Conan the Barbarian          $39.57M
686                          Escape Plan          $25.13M
695                             Commando          $35.10M
704                      The Running Man          $38.12M
873                     Last Action Hero          $50.02M
1016  Terminator 3: Rise of the Machines         $150.37M
1017                  Terminator Genisys          $89.76M
1032                      The Last Stand          $12.05M
1083               Terminator: Dark Fate          $62.25M
1095                    Kindergarten Cop          $91.46M
1116                              Eraser         $101.30M
1223                            Red Heat          $34.99M
1336                 Conan the Destroyer          $31.04M
1338                         The 6th Day          $34.60M
1404                         End of Days          $66.89M
1459                            Sabotage          $10.51M
1505                            Raw Deal          $16.21M
1558                   Collateral Damage          $40.08M
1653                           Red Sonja           $6.95M
1742                      Batman & Robin         $107.33M

5) Display all details of movies with comedy and action genres.

In [22]:
# Filter the DataFrame to include rows where Genre1 is 'Comedy' or Genre2 is 'Comedy'
comedy_movies_df = df1[(df1['Genre1'] == 'Comedy') | (df1['Genre2'] == 'Comedy') | (df1['Genre3'] == 'Comedy')]

# Filter the DataFrame to include rows where Genre1 is 'Action' or Genre2 is 'Action'
action_movies_df = df1[(df1['Genre1'] == 'Action') | (df1['Genre2'] == 'Action') | (df1['Genre3'] == 'Action')]

# Concatenate the two DataFrames to get all details of movies with comedy and action genres
comedy_action_movies_df = pd.concat([comedy_movies_df, action_movies_df])

# Drop any duplicate rows that may result from the concatenation
comedy_action_movies_df.drop_duplicates(inplace=True)

print(comedy_action_movies_df)

                               Movie Name   Votes Gross Collection  \
47                     Gangs of Wasseypur  100012              NaN
52                           Sherlock Jr.   53328           $0.98M
56         Guardians of the Galaxy Vol. 3  235307              NaN
65    Lock, Stock and Two Smoking Barrels  598927           $3.90M
70                      Bajrangi Bhaijaan   92851           $8.18M
...                                   ...     ...              ...
1767                                Radhe  179087              NaN
1768                               Race 3   47849           $1.69M
1769                    Angels Apocalypse   42920              NaN
1770                The Cost of Deception   39608              NaN
1771                              Sadak 2   96367              NaN

     Certification              Star1                Star2  \
47       Not Rated     Manoj Bajpayee  Nawazuddin Siddiqui
52          Passed      Buster Keaton      Kathryn McGuire
56           PG-13        Chris Pratt       Chukwudi Iwuji
65               R      Jason Flemyng      Dexter Fletcher
70       Not Rated      Mehmet Tutkun          Salman Khan
...            ...                ...                  ...
1767         TV-MA        Salman Khan         Disha Patani
1768     Not Rated        Anil Kapoor          Salman Khan
1769           NaN      Enzo Zelocchi        Enzo Zelocchi
1770           NaN  Vivianne Bánovits         András Mózes
1771         TV-MA         Alia Bhatt        Priyanka Bose

                   Star3                 Star4  Genre1     Genre2    Genre3
47      Tigmanshu Dhulia          Richa Chadha  Action     Comedy     Crime
52            Joe Keaton        Erwin Connelly  Action     Comedy   Romance
56        Bradley Cooper       Pom Klementieff  Action  Adventure    Comedy
65            Nick Moran         Jason Statham  Action     Comedy     Crime
70    Harshaali Malhotra   Nawazuddin Siddiqui  Action  Adventure    Comedy
...                  ...                   ...     ...        ...       ...
1767       Randeep Hooda         Jackie Shroff  Action      Crime  Thriller
1768          Bobby Deol  Jacqueline Fernandez  Action      Crime  Thriller
1769       Jana Rochelle     Ryan C.F. Buckley  Action    Fantasy    Sci-Fi
1770         Barna Bokor       Gabriella Gubás  Action      Crime     Drama
1771         Sanjay Dutt     Aditya Roy Kapoor  Action      Drama       NaN

[1772 rows x 11 columns]

# Merging all tables

1) Display all details from both tables where movie names are the same.

In [24]:
import pandas as pd

# Read the data from both files
df = pd.read_csv('D:\Datatrained\Dataset 1.csv')
df1 = pd.read_csv('D:\Datatrained\Dataset 2.csv')

# Merge the two DataFrames on 'Movie Name'
merged_df = pd.merge(df, df1, on='Movie Name', how='inner')

print(merged_df)

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
1         The Lord of the Rings: The Return of the King       Peter Jackson
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
...                                                 ...                 ...
1839                                              Radhe         Prabhu Deva
1840                                             Race 3        Remo D'Souza
1841                                  Angels Apocalypse           Sean Cain
1842                              The Cost of Deception       Keith English
1843                                            Sadak 2        Mahesh Bhatt

     Duration  Year  Rating  Metascore    Votes Gross Collection  \
0     152 min  2008     9.0       84.0  2750867         $534.86M
1     201 min  2003     9.0       94.0  1902861         $377.85M
2     140 min  2023     8.9       86.0   195285              NaN
3     148 min  2010     8.8       74.0  2441653         $292.58M
4     178 min  2001     8.8       92.0  1931145         $315.54M
...       ...   ...     ...        ...      ...              ...
1839  109 min  2021     1.9        NaN   179087              NaN
1840  160 min  2018     1.9        NaN    47849           $1.69M
1841   85 min  2015     1.6        NaN    42920              NaN
1842  125 min  2021     1.5        NaN    39608              NaN
1843  133 min  2020     1.2        NaN    96367              NaN

     Certification              Star1                 Star2          Star3  \
0            PG-13     Christian Bale          Heath Ledger  Aaron Eckhart
1            PG-13        Elijah Wood       Viggo Mortensen   Ian McKellen
2               PG        Kemp Powers    Justin K. Thompson  Shameik Moore
3            PG-13  Leonardo DiCaprio  Joseph Gordon-Levitt    Elliot Page
4            PG-13        Elijah Wood          Ian McKellen  Orlando Bloom
...            ...                ...                   ...            ...
1839         TV-MA        Salman Khan          Disha Patani  Randeep Hooda
1840     Not Rated        Anil Kapoor           Salman Khan     Bobby Deol
1841           NaN      Enzo Zelocchi         Enzo Zelocchi  Jana Rochelle
1842           NaN  Vivianne Bánovits          András Mózes    Barna Bokor
1843         TV-MA         Alia Bhatt         Priyanka Bose    Sanjay Dutt

                     Star4     Genre1     Genre2     Genre3
0            Michael Caine     Action      Crime      Drama
1            Orlando Bloom     Action  Adventure      Drama
2         Hailee Steinfeld  Animation     Action  Adventure
3             Ken Watanabe     Action  Adventure     Sci-Fi
4                Sean Bean     Action  Adventure      Drama
...                    ...        ...        ...        ...
1839         Jackie Shroff     Action      Crime   Thriller
1840  Jacqueline Fernandez     Action      Crime   Thriller
1841     Ryan C.F. Buckley     Action    Fantasy     Sci-Fi
1842       Gabriella Gubás     Action      Crime      Drama
1843     Aditya Roy Kapoor     Action      Drama        NaN

[1844 rows x 16 columns]

2)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [25]:
merged_df = pd.merge(df, df1, on='Movie Name', how='left')

# Filter the DataFrame to include only rows where the genre is 'Action'
action_movies_df = merged_df[merged_df['Genre1'].str.contains('Action', case=False)]

# Select the desired columns
selected_columns = ['Movie Name', 'Director Name', 'Rating', 'Gross Collection']

print(action_movies_df[selected_columns])

                                             Movie Name      Director Name  \
0                                       The Dark Knight  Christopher Nolan
1         The Lord of the Rings: The Return of the King      Peter Jackson
3                                             Inception  Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring      Peter Jackson
5                 The Lord of the Rings: The Two Towers      Peter Jackson
...                                                 ...                ...
1839                                              Radhe        Prabhu Deva
1840                                             Race 3       Remo D'Souza
1841                                  Angels Apocalypse          Sean Cain
1842                              The Cost of Deception      Keith English
1843                                            Sadak 2       Mahesh Bhatt

      Rating Gross Collection
0        9.0         $534.86M
1        9.0         $377.85M
3        8.8         $292.58M
4        8.8         $315.54M
5        8.8         $342.55M
...      ...              ...
1839     1.9              NaN
1840     1.9           $1.69M
1841     1.6              NaN
1842     1.5              NaN
1843     1.2              NaN

[1772 rows x 4 columns]

3) Display all details from both tables with the highest gross collection.

In [27]:
# Sort the DataFrame by 'Gross Collection' in descending order
merged_df_sorted = merged_df.sort_values(by='Gross Collection', ascending=False)

# Get the row with the highest gross collection
highest_gross_movie = merged_df_sorted.iloc[0]

print(highest_gross_movie)

Movie Name          Olympus Has Fallen
Director Name            Antoine Fuqua
Duration                       119 min
Year                              2013
Rating                             6.5
Metascore                         41.0
Votes                           285290
Gross Collection               $98.93M
Certification                        R
Star1                    Gerard Butler
Star2                    Aaron Eckhart
Star3                   Morgan Freeman
Star4                   Angela Bassett
Genre1                          Action
Genre2                        Thriller
Genre3                             NaN
Name: 911, dtype: object

4) Display all details from both tables with the highest ratings

In [28]:
# Sort the DataFrame by 'Rating' in descending order
merged_df_sorted = merged_df.sort_values(by='Rating', ascending=False)

# Get the row with the highest rating
highest_rated_movie = merged_df_sorted.iloc[0]

print(highest_rated_movie)

Movie Name            The Dark Knight
Director Name       Christopher Nolan
Duration                      152 min
Year                             2008
Rating                            9.0
Metascore                        84.0
Votes                         2750867
Gross Collection             $534.86M
Certification                   PG-13
Star1                  Christian Bale
Star2                    Heath Ledger
Star3                   Aaron Eckhart
Star4                   Michael Caine
Genre1                         Action
Genre2                          Crime
Genre3                          Drama
Name: 0, dtype: object

5) Display all details from both tables with the lowest gross collection and lowest ratings

In [29]:
# Sort the DataFrame by 'Gross Collection' and 'Rating' in ascending order
merged_df_sorted = merged_df.sort_values(by=['Gross Collection', 'Rating'])

# Get the row with the lowest gross collection and lowest rating
lowest_gross_lowest_rating_movie = merged_df_sorted.iloc[0]

print(lowest_gross_lowest_rating_movie)

Movie Name                 Wild Card
Director Name             Simon West
Duration                      92 min
Year                            2015
Rating                           5.6
Metascore                       40.0
Votes                          58176
Gross Collection              $0.00M
Certification                      R
Star1                  Jason Statham
Star2               Michael Angarano
Star3                 Dominik Garcia
Star4               Milo Ventimiglia
Genre1                        Action
Genre2                         Crime
Genre3                         Drama
Name: 1558, dtype: object